.flex-container {
    height: 100%;
    width: 100%;
}

dynamic-content {
    margin: 0px;
    height: 100%;
    width: auto;
}

google-map {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

navigation-bar {
    margin: 0px;
    padding: 0px;
    width: 100%;
}