@import '~@angular/material/core/theming/prebuilt/pink-bluegrey.css';

@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
.loading {
    padding: 10px;
    margin: 10px;
}
